<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://adelius.fr/wp-content/uploads/recrutement_header03.jpg');">
  <div class="banner-content">
    <h1>Code&Drink Challenge</h1>
    <p>Who will be the hero of the day ?</p>
    <% if current_user != nil %>
      <%= link_to "New Game", new_user_game_path(current_user), class: "btn btn-primary btn-lg"%>
    <% end %>
  </div>
</div>

<h3 class="text-center">Hall of fame</h3>
<div class="container">
  <div class="row">
    <% Winner.all.each do |winner| %>
      <% if winner.photo != nil %>
        <div class="col-xs-3">
          <div class="winner">
            <%= cl_image_tag winner.photo, width: 200, height: 200, crop: :fill, gravity: :face, class: "avatar" %>
            <p></p>
            <p class="text-center winner_desc"><%= winner.surname %> <%= winner.name %></p>
            <p class="text-center winner_desc"> Batch <%= winner.batch %> - <%= winner.city %></p>
            <p class="text-center winner_desc"><%= winner.date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
