
<% @game = Game.find(params[:game_id]) %>

<p class="congratulations text-center">Congratulations! Today, you become part of the legend ! Let's upload your profile for the hall of fame ;)<p>

<div class="fichewinner">
  <div class="wrapperwinner">
    <%= simple_form_for @winner, url: user_game_fame_path(current_user, @game), method: :post do |f| %>
      <%= f.input :name, required: true %>
      <%= f.input :surname, required: true %>
      <%= f.input :date, required:true %>
      <%= f.input :city, required:true %>
      <%= f.input :batch, required:true %>
      <%= f.input :photo, required:true %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Hall of fame", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
