<% @game = Game.find(params[:game_id]) %>
<% @winner = Winner.last %>

<h2>Congratulations <%= @winner.surname %> <%= @winner.name %> today, you become part of the legend ! Let's upload a photo for the hall of fame ;)</h2>

<%= simple_form_for @winner, url: user_game_fame_path(current_user, @game), method: :post do |f| %>
  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :date %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Hall of fame", class: "btn btn-primary" %>
<% end %>
